{
    "semi": true,
    "singleQuote": true,
    "useTabs": true,
    "tabWidth": 4,
    "endOfLine": "auto",
    "trailingComma": "all",
    "printWidth": 120,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "ignore"
  }